{% extends 'plantillas/general.html' %}

{%block title%}PRESENTACION{%endblock%}

{%block content%}
    <h1>David Magán, entrenador</h1>
    <div class='about'>
        <img src='https://picsum.photos/300/250'>
        <div class='about-content'>
            <h3>Imagen de paisaje</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum atque voluptatibus perferendis ipsam consequuntur mollitia aut facere laboriosam maxime officia totam doloremque, nam non ducimus nostrum animi minus. Maxime, perspiciatis!</p>

        </div>
    </div>
{%endblock%}